#menu img {
    width: 380px;
    height: 120px;
    margin-left: 10px;
}

.App {
    background-color: #F0F8FF;
}

i {
    color: #004a7f; 
}
    
.card-header {
    background-color: #004a7f;
}

#table-header {
    background: #004a7f;
    color: white;
}